#root {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;

}
.App {
  text-align: center;
  margin-top: 50px;
}

.roulette-container {
  position: relative;
  width: 770px;
  height: 80px;
  overflow: hidden;
  margin: 10px;
}

.roulette {
  display: flex;
  width: max-content;
}

.roulette-box {
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.red {
  background-color: #ff0000;
}

.black {
  background-color: #000000;
}

.green {
  background-color: #00ff00;
}

.roulette-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #ffffff;
  z-index: 1;
}